:root {
	--background: hsl(270, 20%, 8%);
	--background-gradient: hsl(280, 25%, 12%);
	--border: hsl(40, 65%, 80%);
	--text: hsl(40, 70%, 85%);
}
* {
	box-sizing: border-box;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--background);
	background: radial-gradient(
		circle at 100% 0%,
		var(--background-gradient),
		var(--background)
	);
	padding: 2rem;
	height: 100vh;
	color: var(--text);
}
.adres-iletisim{
    display: flex;
	flex-direction: column;

	background: var(--background);
	width: 20rem;
	height: 30rem;
	border: 1px solid var(--border);
	position: relative;
	padding: 1rem;

	.corner {
		width: 0.5rem;
		height: 0.5rem;
		border: 1px solid var(--border);
		position: absolute;

		&::after,
		&::before {
			content: "";
			position: absolute;
		}

		&::after {
			width: 2rem;
			height: calc(1rem - 1px);
		}

		&::before {
			width: calc(1rem - 1px);
			height: 2rem;
		}

		&.left {
			left: -0.5rem;

			&::after {
				left: calc(-2px + 1rem);
				border-left: 1px solid var(--border);
			}

			&::before {
				left: -1px;
				border-left: 1px solid var(--border);
			}
		}

		&.right {
			right: -0.5rem;

			&::after {
				right: calc(-2px + 1rem);
				border-right: 1px solid var(--border);
			}

			&::before {
				right: -1px;
				border-right: 1px solid var(--border);
			}
		}

		&.top {
			top: -0.5rem;

			&::after {
				top: -1px;
				border-top: 1px solid var(--border);
			}

			&::before {
				top: calc(-2px + 1rem);
				border-top: 1px solid var(--border);
			}
		}

		&.bottom {
			bottom: -0.5rem;

			&::after {
				bottom: -1px;
				border-bottom: 1px solid var(--border);
			}

			&::before {
				bottom: calc(-2px + 1rem);
				border-bottom: 1px solid var(--border);
			}
		}
	}
}