.anasayfa{
    display: flex;
    flex-direction: column;
    gap: 0;
    position: absolute;
    right: 0;
    top: 80px;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}
/**/
.welcome-dukkan{
    display: flex;
    right: 0;
    width: 100%;
    flex-direction: row;
    gap: 0;
    bottom: 0;
    height: 300px;
    background-image: url('../images/duvar.png');
}
/**/
.welcome{
    width: 100%;
    left: 0;
    display: grid;
    place-items: end;
}
.lamba{
    grid-area: 1/1;
    height: 200px;
    z-index: 1;
}
.e-poster{
    grid-area: 1/1;
    height: 290px;
    width: 195px;
}
@media(min-height: 1000px){
    .e-poster{
        position: absolute;
        left: 0;
        top: 0px;
        z-index: 13;
        height: 530px;
        width: auto;
    }
}
@media(min-width: 1000px){
    .e-poster{
        position: absolute;
        z-index: 13;
        left: 0px;
        top: 0px;
        height: 600px;
        width: auto;
    }
}
/**/
.dukkan-div{
    display: grid;
    place-items: center;
    height: 300px;
    width: 240px;
}
.dukkan, .game-start-scene{
    grid-area: 1/1;
    display: flex;
    justify-content: right;
    align-items: end;
    z-index: 0;
    height: 305px;
    width: 230px;
}
.play-button-container{
    grid-area: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    pointer-events: auto;
}
.play-button-button{
    position: relative;
    pointer-events: auto;
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-button-button:hover{
    transform: scale(2);
}
.play-button-button:active{
    transform: scale(0.95);
}
.play-button-button::before{
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px; /* Butondan 10px daha geniş */
    
    border-radius: 50%;
    border: 4px solid transparent;
    /* Üst ve Alt kenara renk veriyoruz ki dönerken belli olsun */
    border-top-color: #ff0055; /* Neon Kırmızı */
    border-bottom-color: rgb(233, 94, 7);
    
    /* Dönme Animasyonu */
    animation: donmeEfekti 2s linear infinite;
    z-index: -1; /* Butonun arkasında kalsın */
}
.play-button-button::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgb(233, 94, 7); /* Mavi parıltı */
    z-index: -2; /* En arkada */
    
    /* Nabız Animasyonu */
    animation: nabizEfekti 2s ease-out infinite;
}
@keyframes donmeEfekti {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes nabizEfekti {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    100% {
        transform: scale(2); /* 2 katına kadar büyüsün */
        opacity: 0; /* Büyürken kaybolsun */
    }
}
.play-button{
    height: 100%;
}
.video-and-buttons{
    display: grid;
    place-items: center;
    height: 100%;
    pointer-events: auto;
}
.start-game{
    grid-area: 1/1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 90px;
}
.exit-game{
    z-index: 2;
    height: 40px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: none;
    color:white;
    font-weight: bolder;
    border: none;
    border-radius: 30%;
    background-color: rgb(180, 117, 77);
    cursor: pointer;
}
.game-start-scene{
    grid-area: 1/1;
    padding-bottom: 0;
    margin-bottom: 0;
    height: 300px;
    z-index: 1;
    bottom: 0;
}
/**/
.tanitim{
    height: 620px;
    position: absolute;
    top: 300px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    pointer-events: none;
    background-image: url('../images/kaldırım-back.png');
    background-size: 100% 800px;
    background-repeat: none;
}
@media (min-height: 1000px){
    .tanitim{
        height: 1000px;
    }
}
.koltuk{
    height: 50%;
    background-color: none;
    z-index: 1;
    pointer-events: none;
}

.qr-button{
    height: 100px;
    width: 70px;
    z-index: 15;
    cursor: pointer;
    background: none;
    position: absolute;
    pointer-events: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    right: 170px;
    transform: translateY(20px);
    transition: border 0.2s ease;
}
.qr-platform{
    height: 100px;
    z-index: 11;
    cursor: pointer;
}
.qr-button:hover{
    border: 10px solid rgb(191, 161, 52);
    border-radius: 10px;
}
@media (min-height: 1000px){
    .qr-button, .qr-platform{
        height: 200px;
        width: 140px;
        transform: translateY(-3px);
        transform: translateX(-10px)
    }
    .qr-button:hover{
        border: 50px solid rgb(191, 161, 52);
        border-radius: 50px;
    }
}
@media (min-height: 1100px){
    .qr-button, .qr-platform{
        height: 200px;
        width: 140px;
        transform: translateY(50px);
        right: 250px;
    }
    .qr-button:hover{
        border: 50px solid rgb(191, 161, 52);
        border-radius: 50px;
    }
}
.beni-oku{
    bottom: 0;
    position: absolute;
    z-index: 15;
    height: 300px;
    width: 410px;
    right: 0px;
}
.cik{
    right: 0;
    position: absolute;
    z-index: 16;
    background: none;
    border: none;
    cursor: pointer;
    pointer-events: auto;
    padding-top: 60px;
}