::-webkit-scrollbar {
    display: none;
}
* {
    scrollbar-width: none;
}
html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-weight: 700;
    overflow: hidden;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-weight: 700;
}