::-webkit-scrollbar {
    display: none;
}
* {
    scrollbar-width: none;
}
#root{
    width: 100%;
    height: 100%;
}
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    overscroll-behavior: none;
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
    position: fixed;
}
body{
    font-weight: 700;
}