.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    gap: 0;
    background-image: url('../images/mutfak-mermer.jpg');
}
/**/
.menu-start-scene{
    height: 680px;
    width: 550px;
}
/**/
.talking{
    display: flex;
    flex-direction: column;
}
.naile-apla-with-mouth{
    z-index: 1;
    pointer-events: none;
    display: grid;
    place-items: center;
    transform: translateY(100px);
}
.naile-apla{
    grid-area: 1/1;
    z-index: 1;
    pointer-events: none;
    height:  300px;
    transform: translateY(-30px);
}
.mouth{
    grid-area: 1/1;
    z-index: 2;
    pointer-events: none;
    transform: translateY(-64px);
    padding-right: 10px;
}
.desk-button{
    display: grid;
    place-items: center;
    background-image: url('../images/desk-bottom.png');
    background-position: right 50px bottom 170px;
    background-repeat: no-repeat;
    background-size: 460px 100px;
    padding-top: 40px;
}
.white-desk{
    transform: rotateZ(0.6deg);
    grid-area: 1/1;
    z-index: 3;
    pointer-events: none;
    background-image: url('../images/desk-behind.png');
    background-size: 100% 170px;
    background-position: right 50px bottom 170px;
    background-repeat: no-repeat;
    background-position: bottom;
}
.brochure-button{
    grid-area: 1/1;
    z-index: 3;
    background: none;
    border: none;
    cursor: pointer;
}
.brochure{
    height: 100px;
    transform: translateY(-60px);
}
.brochure:hover{
    border: 10px solid rgb(191, 161, 52);
    border-radius: 1000px;
}